@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

.App {
  min-height: 100vh;

  /* text-align: center; */
  /* background: linear-gradient(335deg, rgba(0, 235, 204, 1) 0%, rgba(5, 104, 124, 1) 100%); */
  /* background: linear-gradient(0deg, #b7f8db 0%, #50a7c2 100%); */
  background-color: white;
  /* background: linear-gradient(270deg, #74ebd5 0%, #acb6e5 100%); */
  /* background: linear-gradient(60deg, rgba(93, 12, 255, 1) 0%, rgba(155, 0, 250, 1) 100%); */
  font-family: 'Poppins', sans-serif;
}

.App-header {
  /* background-color: #282c34; */

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
